<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- to reduce noisy outputs -->
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>